---

---

<div id="cabezal">
    <div id="logo">Loguito</div>
    <div id="menu">
        <a href="/">Inicio</a>
        <a href="/articulos">Mis Artículos</a>
    </div>
</div>

<style>
    #cabezal {
        background: lightblue;
    }
</style>