---
import Cabezal from "../components/Cabezal.astro";


---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Luis Shop, tu tiendita de confianza</title>
	</head>
	<body>
		<Cabezal/>
        <slot/>

	</body>
</html>

<style>
	body {
		background: rgb(31, 28, 28);
	}
</style>